@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改密码</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/md5.js"></script>
    <style type="text/css">
        .tb {
            width: 150px;
            margin: 10px 0;
            padding: 5px 4px;
            border: 1px solid #95B8E7;
            box-sizing: border-box;
        }
    </style>
    <script type="text/javascript">

        $.extend($.fn.validatebox.defaults.rules, {
            rgx: {
                validator: function (value) {
                    var flag = false;
                    var rgxSpe = /[^a-zA-Z0-9\-_]+/;
                    if (!rgxSpe.test(value)) {
                        flag = true;
                    }
                    return flag;
                },
                message: '包含非法字符，不能包含除字母、数字、_、-以外的字符'
            },
            equals: {
                validator: function (value, param) {
                    return value == $(param[0]).val();
                },
                message: '两次密码不一致'
            },
            pwdRight: {
                validator: function (value) {
                    var flag = false;
                    var upwd = hex_md5(value);
                    $.ajax({
                        url: '@Url.Action("CheckPwdRight","UserInfo")', data: { uPwd: upwd }, async: false, dataType: 'text', success: function (data) {
                            if (data == "ok") {
                                flag = true;
                            }
                        }
                    })
                    return flag;
                },
                message: '原密码不正确'
            }
        });

        function subForm() {
            $('#PwdEditForm').form('submit', {
                onSubmit: function () {
                    var isValid = $(this).form('validate');
                    if (isValid) {
                        $("#pwd").val(hex_md5($("#pwd").val()));
                        $("#rpwd").val(hex_md5($("#rpwd").val()));
                    }
                    return isValid;	// 返回false终止表单提交
                },
                success: function (data) {
                    //子窗体调用父窗体中的方法。
                    window.parent.afterPwdEdit(data);
                }
            });
        }

        //function afterAdd(data) {

        //}
    </script>
</head>
<body style="font-size: 14px; width: 478px;">
    @using (Ajax.BeginForm("PasswordEdit", "UserInfo", new { }, new AjaxOptions() { }, new { id = "PwdEditForm" }))
    {
        <div>
            <div>
            &nbsp;&nbsp;&nbsp;<label for="rpwd">原密码：</label>
            <input id="opwd" type="password" class="easyui-validatebox tb" data-options = "required:true,validType:{length:[6,16],rgx:[],pwdRight:[]},delay:50000,tipPosition:'left',validateOnCreate:false,validateOnBlur:true" />
        </div>
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;<label for="rpwd">新密码：</label>
            <input id="pwd" name="pwd" type="password" class="easyui-validatebox tb" data-options = "required:true,validType:{length:[6,16],rgx:[]},delay:50000,tipPosition:'left',validateOnCreate:false,validateOnBlur:true" />
        </div>
        <div>
            <label for="rpwd">确认密码：</label>
            <input id="rpwd" name="rpwd" type="password" class="easyui-validatebox tb" data-options = "required:true,validType:{length:[6,16],rgx:[],equals:['#pwd']},delay:50000,tipPosition:'left',validateOnCreate:false,validateOnBlur:true" />
        </div>
    }


</body>
</html>